/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 5rem;
   align-items: center;
   padding: 0 3rem;
}

nav .logo {
    height: 4rem;
}

#main-menu {
    display: flex;
    flex-direction: row;
    width: fit-content;
    list-style: none;
}

#main-menu .menu-item {
    padding: 1rem;
    font-size: 1.2rem;
}

#main-menu .menu-item a {
   text-decoration: none;
   color: black;
}

#hero {
   background-image: url("../images/landing.jpg");
   height: 40rem;
   background-size: cover;
   background-position: center;
   color: white;
   text-align: center;
}

#hero .text-container {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: fit-content;
}

#hero .title {
    font-size: 5em;
    margin-bottom: 2rem;
}

#hero .slogan {
    font-size: 1.7em;
}